@model EmployeesManagement.Models.LeaveAdjustmentEntry

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid">
    <h4 class="text-center">Leave Adjustment Entry</h4>
    <hr />
    <table class="table table-bordered yable-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LeavePeriod)</th>
                <td>@Html.DisplayFor(model => model.LeavePeriod)</td>
                <th>@Html.DisplayNameFor(model => model.Employee)</th>
                <td>@Html.DisplayFor(model => model.Employee.Id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NoOfDays)</th>
                <td>@Html.DisplayFor(model => model.NoOfDays)</td>
                <th>@Html.DisplayNameFor(model => model.LeaveAdjustmentDate)</th>
                <td>@Html.DisplayFor(model => model.LeaveAdjustmentDate)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LeaveStartDate)</th>
                <td>@Html.DisplayFor(model => model.LeaveStartDate)</td>
                <th>@Html.DisplayNameFor(model => model.LeaveEndDate)</th>
                <td>@Html.DisplayFor(model => model.LeaveEndDate)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AdjustmentDescription)</th>
                <td>@Html.DisplayFor(model => model.AdjustmentDescription)</td>
                <th>@Html.DisplayNameFor(model => model.AdjustmentType)</th>
                <td>@Html.DisplayFor(model => model.AdjustmentType.Id)</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-3">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
